
<form action="/newcomment" method ="POST">
<input name = "text" type="text" placeholder="Enter Comments Here"></input>
<input name = "image" type="text" placeholder="Enter Image Here"></input> 
<input type="submit" value= "add comment"></input>
</form>