<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bring It On, Bring It On</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/Chart.js"></script>
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<header> 
		<h1>Bring It On </h1>
		<a href="/topics">Link to Homepage</a>
	</header>
	<hr>
	<div id="all">
		<%= yield %>
	</div>
	<script src="/js/main.js"></script>
</body>
</html>