
<h6><%= @msg %></h6>

<form method="POST" action="/login">
<label>Username</label>
<input type="text" placeholder="user_ID" name="user_id"></input>
<br></br>
<label>Password</label>
<input type="password" name="password" placeholder="password"></input>
<br></br>
<input type="submit" value="submit"></input>
</form>

<a href='/users/new'><h6>Sign Up?</h6></a>