
<h6><%= @msg %></h6>

<form method="POST" action="/login">
	<label>Username</label>
	<input type="text" placeholder="USER_ID" name="user_id"></input>
	<br>
	<label>Password</label>
	<input type="password" placeholder="PASSWORD" name="password" ></input>
	<br>
	<input type="submit" value="submit"></input>
</form>

<a href='/users/new'><h6>Sign Up?</h6></a>