<form method="POST" action="/users">
	<label>Username</label>
	<input type="text" placeholder="user_ID" name="user_id"></input>
	<br>
	<label>Password</label>
	<input type="password" name="password" placeholder="password"></input>
	<br>
	<label>User Email</label>
	<input type="text" name="user_email" placeholder="email address"></input>
	<br>
	<label>Fullname</label>
	<input type="text" name="fullname" placeholder="fullname"></input>
	<br>
	<input type="submit" value="submit"></input>
</form>