<div class="topicpage">
	<form method="POST" action="/topics">

	<h3>category</h3>
	<input class="textinput" type="text" name="category">
	</input>
	<h3>text</h3>
	<input class="textinput" type="text" name="text"></input>
	<input class="newtext_submit" type="submit" value="submit"></input>

	</form>
</div>