<form method="POST" action="/newtopic">

<label>category</label>
<input type="text" name="category">
</input>
<label>text</label>
<input type="text" name="text"></input>
<label>image</label>
<input type="text" name="image"></input>
<input type="submit" value="submit"></input>

</form>