<div class="topicpage">
	<form method="POST" action="/topics">
		<h2>category</h2>
		<input class="textinput" type="text" name="category">
		</input>
		<h1>text</h1>
		<input class="textinput" type="text" name="text"></input>
		<input class="newtext_submit" type="submit" value="submit"></input>
	</form>
</div>