@import url(http://fonts.googleapis.com/css?family=Rhodium+Libre);

header {
	font-size: 25px;
	background-image: url('/image/boxing.gif');
	background-size: 5.5%;
	background-repeat: no-repeat;
	background-position: center;
}

.first_column_box {
	position: relative;
	top: 80%;
}

body {
	position: absolute;
	border: solid blue 3.5px;
	left: 5%;
	width: 90%;
	background-color: lightgrey;
	text-align: center;
	font-family: 'Rhodium Libre', serif;
}

/*topics page*/
.comment {
	display: inline-block;
	background-color: #FFFFFF;
}

.topic_row {
	left: 5%;
	width: 90%;
	clear: both;
	background-color: #FFFFFF;
	border-bottom: solid blue 3.5px;
}

h3 .topic_text {
	background-color: #FFFFFF;
	cursor: pointer;
}

.voter {
	cursor: pointer;
	background-color: #FFFFFF;
}

.topic_column {
	background-color: #FFFFFF;
	float: left;
	width: 13%;
	left: 2%;
	top: 70%;
	text-align: center;
}

.main_column{
	border-left: solid blue 3.5px;
	border-right: solid blue 3.5px;
	float: left;
	width: 60%;
	left: 2%;
	position: relative;
	top: 10%;
	text-align: center;
	background-color: #FFFFFF;
}

/*comments page*/

.comment_box {
	position: relative;
	top: 20%;
	left: 15%;
	width: 70%;
	border-radius: 30px;
	border-bottom: solid blue 11.5px;
	background-color: #FFFFFF;
	text-align: center;
}

/*topics page*/
.topicpage{
	font-family: 'Rhodium Libre', serif;
	font-size: 20px;
	position: absolute;
	left: 20%;
	top: 20%;
	width: 80%;
	line-height: 35px;
}

.topicpage h3{
	position: relative;
	right: 10%;
}

.textinput {
	line-height: 55px;
	display: block;
	position: relative;
	left: 10%;
	width: 60%;
}

.newtext_submit {
	position: relative;
	right: 10%;
	line-height: 55px;
}