@import url(http://fonts.googleapis.com/css?family=Rhodium+Libre);

header {
	font-size: 25px;
	background-image: url('/image/boxing.gif');
	background-size: 22.5%;
	background-repeat: no-repeat;
	background-position: center;
}

.first_column_box {
	position: relative;
	top: 80%;
}

body {
	background-color: #D1E3F7;
	text-align: center;
	font-family: 'Rhodium Libre', serif;
}

/*topics page*/
.comment {
	display: inline-block;
	background-color: #F2F5F7;

}

.topic_row {
	clear: both;
	border-bottom: solid #50CBFB 3.5px;
}

h3 .topic_text {
	background-color: #CFD2D6;
	cursor: pointer
}

.voter {
	cursor: pointer;
	background-color: #CFD2D6;
}

.topic_column {
	float: left;
	width: 13%;
	left: 2%;
	position: relative;
	top: 70%;
	text-align: center;
}

.main_column{
	border-left: solid #50CBFB 3.5px;
	border-right: solid #50CBFB 3.5px;
	float: left;
	width: 60%;
	left: 2%;
	position: relative;
	top: 10%;
	text-align: center;
}

/*comments page*/

.comment_box {
	position: relative;
	top: 20%;
	left: 15%;
	width: 70%;
	border-radius: 30px;
	border-bottom: solid #50CBFB 11.5px;
	background-color: #CFD2D6;
	text-align: center;
}