@import url(http://fonts.googleapis.com/css?family=Rhodium+Libre);

header {
	font-size: 25px;
	border: 0;
	padding: 0;
	background-color: rgba(62,24,4,0.3);
}

img.topic{
	opacity: 0.1;
}

img.topic:hover{
	opacity: 1;
}



.first_column_box {
	position: relative;
	top: 80%;
}

body {
	background: url('http://i.imgur.com/2r3DT8V.jpg'), rgba(255,255,255,0.1);
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: right bottom;
	text-align: center;
	font-family: 'Rhodium Libre', serif;
}

.container {
	border-bottom: dashed black 2.5px;
}

/*topics page*/
/*==============================================================*/
.comment {
	display: inline-block;
	

}

.topic_row {
	clear: both;
	border-top: solid #CD808F 2.5px;
}

h3 .topic_text {
	opacity: 1;
	cursor: pointer;
}

.voter {
	cursor: pointer;
	
}

.topic_column {
	opacity: 1;
	float: left;
	width: 13%;
	left: 2%;
	position: relative;
	top: 70%;
	text-align: center;
}

.main_column{
	border-left: dashed #50CBFB 3.5px;
	border-right: dashed #50CBFB 3.5px;
	float: left;
	width: 60%;
	left: 2%;
	position: relative;
	top: 10%;
	text-align: center;
}
/*==============================================================*/
/*comments page*/

.comment_box {
	position: relative;
	top: 20%;
	left: 20%;
	width: 50%;
	border-radius: 30px;
		border-top: solid #CD808F 2.5px;
		border-left: solid #CD808F 2.5px; 
		border-right: solid #50CBFB 2.5px;
		border-bottom: solid #50CBFB 11.5px;
	text-align: center;
}
/*==============================================================*/
/*topics page*/
.topicpage{
	font-family: 'Rhodium Libre', serif;
	font-size: 20px;
	position: absolute;
	left: 20%;
	top: 30%;
	width: 80%;
	line-height: 35px;
}

.topicpage h3{
	position: relative;
	right: 10%;
}

.textinput {
	line-height: 55px;
	display: block;
	position: relative;
	left: 10%;
	width: 60%;
}

.newtext_submit {
	position: relative;
	right: 10%;
	line-height: 55px;
}

/*==============================================================*/